.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
dist/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
*.iml
*.log
.env
.env.local
.omc/
*.zip
*.apk
